.bg-img {
  background-image: url(https://plus.unsplash.com/premium_photo-1706552627475-2617a0495e41?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8c3R5bHVzfGVufDB8fDB8fHww);
  min-height: 50dvh;
  background-size: cover;
  background-position: right;
}

.img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}